@font-face {
    font-family:"DK Limoen";
    src: url("DK Limoen.otf")
  } 

*{
    font-family:"DK Limoen", sans-serif;
}
body{
    
    background-color: #fbece8;
    color:#075e35;
    align-content: center;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.board{
    display: flex;
    flex-wrap: wrap;
    height: 375px;
    width:375px;
    margin: auto;
    margin-top: 0px;
} 

.boardButton{
    width: 125px;
    height: 125px;
    color:black;
    background-color: #fbece8;
    border-color: none;
    font-size: 80px;
    font-weight: bolder;
    border-style: solid;
    /* font-family: sans-serif; */
    border-color: #307740;
    border-width: 3px;
}

    .btn0{
        border-left: none;
        border-top: none;
    }

    .btn1{
        border-top: none;
    }

    .btn2{
        border-top: none;
        border-right: none;
    }

    .btn3{
        border-left: none;
    }

    .btn5{
        border-right: none;
    }

    .btn6{
        border-left: none;
        border-bottom: none;
    }

    .btn7{
        border-bottom: none;
    }

    .btn8{
        border-right: none;
        border-bottom: none;
    }

    .titleName{
        display: flex; 
        justify-content: center;  
        font-size: 40px;
        letter-spacing: 15px;
        min-width: 500px;
        color: #307740
    }

    .title {
        display: flex; 
        margin: auto;
        width: 500px;
        padding-left: 40px;
        font-size: 50px;
    }

        h2 > span {
            /*-webkit-text-stroke: 1px #cb6c50;*/
            color: #eb6032;
            font-size: 50px;
            margin: 0px;  
            padding: 0px;
        }

#gamer{
    display: flex; 
    flex-direction: column;
    margin: auto;
    font-size: 40px;
    color: #307740;
    justify-content: center;
    align-items: center;
    
}
    #gamer p{
    margin:20px;
    }
    
    .playerX{
        color:#4280be;
    }

    .playerO{
        color: #b593bc;
    }

#winner{
    color: #eb6032;
    font-size: bolder;
}

.hide{
    display: none;
}

.reset{
    font-size: 20px;
    height: 40px;
    width: 30%;
    justify-content: center;
    align-content: center;
    border-radius: 20px;
    color:#eb6032;
    margin-top: 30px;
    color: #fbece8;
    background-color: #307740;
}
.reset:hover{
   background:#eb6032;
   color:black;
   transition: ease-in-out 0.1s; 
}

.announcer {
    font-size: 50px;
    color:#eb6032;
}