 @font-face {
    font-family:"DK Limoen";
    src: url("DK Limoen.otf")
  } 

*{
    font-family:"DK Limoen", sans-serif;
}
body{
    
    background-color: #fbece8;
    color:#075e35;
    align-content: center;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.board{
    display: flex;
    flex-wrap: wrap;
    height: 375px;
    width:375px;
    margin: auto;
    margin-top: 30px;
} 

.boardButton{
    width: 125px;
    height: 125px;
    color: #ee673b;
    background-color: #fbece8;
    border-color: none;
    font-size: 80px;
    font-weight: bolder;
    border-style: solid;
    font-family: sans-serif;
    border-color: #075e35;
    border-width: 3px;
}

    .btn0{
        border-left: none;
        border-top: none;
    }

    .btn1{
        border-top: none;
    }

    .btn2{
        border-top: none;
        border-right: none;
    }

    .btn3{
        border-left: none;
    }

    .btn5{
        border-right: none;
    }

    .btn6{
        border-left: none;
        border-bottom: none;
    }

    .btn7{
        border-bottom: none;
    }

    .btn8{
        border-right: none;
        border-bottom: none;
    }

    #titleName {
        display: flex; 
        margin: auto;
        font-size: 70px;
        letter-spacing: 20px;
        width: 500px;
        padding-left: 40px;
    }

        h2 > span {
            /*-webkit-text-stroke: 1px #cb6c50;*/
            color: #eb6032;
            letter-spacing: 0px;
            padding-left: 5px;
            padding-right: 20px;
        }

#gamer{
    display: flex; 
    flex-direction: column;
    margin: auto;
    font-size: 40px;
    color: #075e35;
    justify-content: center;
    align-items: center;
    
}
    #gamer p{
    margin:5px;
    }
    
    .playerX{
        color:blue;
    }
    .playerO{
        color: green;
    }

#winner{
    color: #eb6032;
    font-size: bolder;
}



#reset{
    font-size: 20px;
    height: 40px;
    width: 50%;
    justify-content: center;
    align-content: center;
    border-radius: 20px;
    color:#eb6032;
    font-family: sans-serif;
    background-color: #075e35;
}

